.DS_Store
client/node_modules/
client/.react-router/
client/build/
server/vendor/
server/storage/logs/
.env
.env.backup
serverdocker-compose.override.yml
*.log
.DS_Store
.env
.env.backup
.env.production
server.phpactor.json
server.phpunit.result.cache
server/.fleet
server/.idea
server/.nova
server/.phpunit.cache
/.vscode
server/.zed
server/auth.json
server/node_modules
server/public/build
server/public/hot
server/public/storage
server/storage/*.key
server/storage/pail
server/Homestead.json
server/Homestead.yaml/
server/npm-debug.log
server/Thumbs.db
server/yarn-error.log
/node_modules
