.DS_Store
client/package-lock.json
client/yarn.lock
client/.env
client/.env.backup
client/.env.production
client/.env.local
client/.env.development
client/.env.test
client/.env.staging
client/.env.production.local
client/.env.development.local
client/.env.test.local
client/.env.staging.local
client/.env.local.json
client/.env.development.json
client/.env.test.json
client/.env.staging.json
client/.env.production.json
client/.env.local.js
client/.env.development.js
client/.env.test.js
client/.env.staging.js
client/.env.production.js
client/.env.local.ts
client/.env.development.ts
client/.env.test.ts
client/.env.staging.ts
client/.env.production.ts
client/node_modules/
client/.react-router/
client/build/
server/vendor/
server/storage/logs/
.env
.env.backup
serverdocker-compose.override.yml
*.log
.DS_Store
.env
.env.backup
.env.production
server.phpactor.json
server.phpunit.result.cache
server/.fleet
server/.idea
server/.nova
server/.phpunit.cache
/.vscode
server/.zed
server/auth.json
server/node_modules
server/public/build
server/public/hot
server/public/storage
server/storage/*.key
server/storage/pail
server/Homestead.json
server/Homestead.yaml/
server/npm-debug.log
server/Thumbs.db
server/yarn-error.log
/node_modules
